* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

}

body {
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;

}

.logo {
    float: left;
    margin-left: 0.7rem;
    height: 9rem;
    cursor: pointer;
    padding: 0px 3rem;
}


.heading {
    text-align: match-parent;
    height: 2rem;
    font-size: 3.5rem;
}

.study {
    background: #e9dd5b;
    text-align: center;
    background-size: auto;
    color: hsla(236, 100%, 50%, 0.726);

}

.study a {
    border-image-outset: left;
}

.study ul {
    display: inline-flex;
}

.study ul li {
    list-style: none;
    width: 12rem;
    margin: 2rem;
    padding: 1.5rem;
}

.study ul li:hover {
    background: #15cbcb;
    border-radius: 1rem;
}

.study ul li a {
    text-decoration: none;
    font-weight: 100;
    color: #000;
    font-size: 2rem;
}

.study ul li a:hover {
    color: #f5f6f5;
}

.menu-1 {
    display: none;
}

.study ul li:hover .menu-1 {
    display: block;
    position: absolute;
    background: #dfe0e5;
    margin-top: 1rem;
    margin-left: -1.5rem;
    border-radius: 1.5rem;
    color: #0b8c85;
}

.study ul li:hover .menu-1 ul {
    display: block;
}

.study ul li:hover .menu-1 ul li {
    width: 12rem;
    margin: 1rem;
    padding: 1rem;
    border-bottom: 0.1rem dotted #000;
    border-radius: 0px;
    text-align: center;
}

.menu-1 ul li a {
    font-size: 1.5rem;
}

.menu-1 ul li a:hover {
    font-size: 1.8rem;
}

.study ul li:hover .menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-1 ul li:hover .sem ul {
    display: block;
    margin-left: 1rem;
}

@media(max-width:1389px) {
    html {
        font-size: 46%;

    }

    .heading {
        text-align: center center;
        font-size: 5rem;
        padding-top: 5rem;
    }

    .logo {
        height: 9rem;
        cursor: pointer;
        padding: 0rem 3rem;
    }

    .study ul li:hover .menu-1 ul li {
        width: 13rem;
        margin: 1rem;
        padding: 1rem;
        border-bottom: 0.1rem dotted #000;
        border-radius: 1px;
        height: fit-content;
        text-align: center;
    }
}